@{
    Layout = null;
}

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/aminPage/favicon/favicon.ico" type="image/x-icon" />

    <!-- Map CSS -->
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" />

    <!-- Libs CSS -->
    <link rel="stylesheet" href="~/aminPage/css/libs.bundle.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/aminPage/css/theme.bundle.css" />

    <!-- Title -->
    <title>Dashkit</title>
</head>
<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

                <!-- Image -->
                <div class="text-center">
                    <img src="~/aminPage/img/illustrations/coworking.svg" alt="..." class="img-fluid">
                </div>

            </div>
            <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">

                <!-- Heading -->
                <h1 class="display-4 text-center mb-3">
                    Acesso Restrito
                </h1>

                <!-- Subheading -->
                <p class="text-muted text-center mb-5">
                    Plataforma de Gestão Atos
                </p>

                <!-- Form -->
                <form asp-action="Logar">

                    <!-- Email address -->
                    <div class="form-group">

                        <!-- Label -->
                        <label class="form-label">
                            E-mail
                        </label>

                        <!-- Input -->
                        <input type="email" name="email" class="form-control" placeholder="name@address.com">

                    </div>

                    <!-- Password -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col">

                                <!-- Label -->
                                <label class="form-label">
                                    Senha
                                </label>

                            </div>
                            <div class="col-auto">

                                <!-- Help text -->
                                <a href="#" class="form-text small text-muted">
                                    Esqueceu a senha?
                                </a>

                            </div>
                        </div> <!-- / .row -->
                        <!-- Input group -->
                        <div class="input-group input-group-merge">

                            <!-- Input -->
                            <input class="form-control" type="password" name="senha" placeholder="Informe a Senha">

                            <!-- Icon -->
                            <span class="input-group-text">
                                <i class="fe fe-eye"></i>
                            </span>

                        </div>
                    </div>

                    <!-- Submit -->
                    <button class="btn btn-lg w-100 btn-primary mb-3">
                        Entrar
                    </button>

                    <!-- Link -->
                    <div class="text-center">
                        <small class="text-muted text-center">
                           V.1.0.0
                        </small>
                    </div>

                </form>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Vendor JS -->
    <script src="~/aminPage/js/vendor.bundle.js"></script>

    <!-- Theme JS -->
    <script src="~/aminPage/js/theme.bundle.js"></script>

    <script>
        @if (TempData["msg"] != null)
        {
            @Html.Raw(TempData["msg"])
        }
    </script>
</body>
</html>
