################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GestaoInstituto/obj
/GestaoInstituto/bin/Debug/net6.0
/Domain/obj
/Domain/bin/Debug/net6.0
/Application/obj
/Application/bin/Debug/net6.0
/.vs/GestaoInstituto/v17
/src/Application/bin/Debug/net6.0
/src/Application/obj
/src/Domain/bin/Debug/net6.0
/src/Domain/obj
/src/GestaoInstituto/bin/Debug/net6.0
/src/GestaoInstituto/obj
/src/Infra.Data/bin/Debug/net6.0
/src/Infra.Data/obj
/.vs/GestaoInstituto
/src/GestaoInstituto.Application/bin/Debug/netcoreapp3.1
/src/GestaoInstituto.Application/obj
/src/GestaoInstituto.Domain/bin/Debug/netcoreapp3.1
/src/GestaoInstituto.Domain/obj
/src/GestaoInstituto.Infra.Data/obj
/src/GestaoInstituto.Infra.Data/bin/Debug/netcoreapp3.1
/src/GestaoInstituto.WebApp/bin/Debug/netcoreapp3.1
/src/GestaoInstituto.WebApp/obj
