################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/GestaoInstituto/obj
/GestaoInstituto/bin/Debug/net6.0
/Domain/obj
/Domain/bin/Debug/net6.0
/Application/obj
/Application/bin/Debug/net6.0
