@model GestaoInstituto.Domain.Entities.User

<div class="modal fade bd-example-modal-lg" id="acessos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="card-header">
    
              <!-- Title -->
              <h4 class="card-header-title" id="exampleModalCenterTitle">
                Autorizações
              </h4>
    
              <!-- Close -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="form-row">
                        <div class="form-group col-xl-4 col-lg-4 col-md-4 col-sm-12">
                            <label class="control-label">Administração</label>
                             <select id="ddlAdministracao" class="form-control" asp-for="AdministracaoIds" asp-items="ViewBag.Administations" multiple data-live-search="true"></select>
                        </div>
                    </div>
                    <div id="divProdutos" class="card card-body">
                        <div class="row" style="margin-bottom: 40px;">

                            <div class="col-12">

                                <select multiple="multiple" asp-for="PaginaIds" size="10" id="produtos" name="duallistbox_paginas[]" title="duallistbox_demo1[]" asp-items="@ViewBag.Pages">
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="divBotoes">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" aria-label="Close">Sair</button>
                    <button type="button" id="btnGravaAcessos" class="btn btn-primary">Gravar</button>
                </div>
                <h3 id="lblLoad" style="display:none"><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Aguarde...</h3>
            </div>
        </div>
    </div>
</div>