@model GestaoInstituto.Domain.Entities.User

@{
    ViewData["Title"] = "Cadastro";
}
<style>
.validatorError
{
    color:red
}
</style>
<div class="card card-body">

    <form asp-action="Cadastro" method="post">
        @Html.Partial("_Formulario", Model);
    </form>

</div>


@section Scripts{
<script>

      $(function () {
          
           $('#btnLiberarAcesso').hide();
    })
</script>
}